body{
    background-color: antiquewhite;
}
.rectangle{
    margin:16px;
    padding: 16px;
    width: 512px;
    height: 128px;
}
.rectangle1{
    border: 8px solid black;
    background: aquamarine;
}
.rectangle2{
    background: azure;
    box-sizing: border-box;
    border: 8px solid black;
}