.header{
    background-color: darkturquoise;
    position: fixed;
    width: 100%;
    z-index: 2;
    height: 40px;
}
.header ul{
    margin: 0;
    line-height: 40px;
}
.header ul li{
    display: inline-block;
    margin-left: 16px;

    color: white;
    
}
main{
    height: 5000px;
    background-color: beige;
}
.head{
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: aquamarine;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ear{
    width: 40px;
    height: 60px;
    background-color: brown;
}
.eye{
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
}
.ear.ear_right{
    position: absolute;
    top: -60px;
    right:-40px;
}
.ear.ear_left{
    position: absolute;
    top: -60px;
    left:-40px;
}
.eye.eye_right{
    position: absolute;
    top: 80px;
    right: 40px;
}
.eye.eye_left{
    position: absolute;
    top: 80px;
    left: 40px;
}

