*{
    box-sizing: border-box;
}
.container{
    float: left;
    width: 50%;
    
}
.red{
    background-color: red;
    float: right;
    position: relative;
    top: 0;
} 
.green{
    background-color: green;
    float: left;
    position: relative;
    top: 0;
}
.footer{
    clear: both;
}