li{
    margin-bottom: 16px;
}
ul li:first-child span{
    background-color: red;
    color: white;
}
ul li:last-child span{
    background-color: black;
    color: white;
}

ul li:nth-child(2), ul li:nth-child(4){
    font-size: 16px;
}

.paragraphs p:nth-child(1), .paragraphs p:nth-child(4){
    background-color: grey;
}