*{
    box-sizing: border-box;
}
.main_text{
    display: inline-block;
    margin: 16px;
    border-bottom: 1px dotted black;
    position: relative;
}
.tooltip{
    display: none;
    background-color: grey;
    border: none;
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    bottom: -40px;
    left: 0;
    color: white;
}
.main_text:hover .tooltip{
    display: block;
}