*{
    box-sizing: border-box;
}
div{
    margin: 50px;
}
.rectangle{
    width: 100px;
    height: 50px;
    border-radius: 16px;
    background-color: forestgreen;
}
.elipse{
    width: 100px;
    height: 50px;
    background-color: darkmagenta;
    border-radius: 50%;  
}
.circle{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border-radius: 50%;
}
.triangle{
    width: 100px;
    height: 100px;
    border: 50px solid transparent;
    border-top-color: brown; 
}
