*{
    box-sizing: border-box;
}
.mountains{
    width: 300px;
    height: 534px;    
    background-position: center;
    background-image: url(./nature.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    padding-top: 32px;
}