div{
    padding: 50px;
    border: 2px solid black;
}
.blue_rect{
    background-color: blue;
    margin: 50px;
}
.yellow_rect{
    background-color: yellow;
}
.green_rect{
    background-color: green;
}
.pink_rect{
    background-color: pink;
}