.image-container{
    position: relative;
}
.image-button{
    display: block;
    width: 200px;
    height: 50px;
    background-color: bisque;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    line-height: 50px;  
    margin: auto;
    opacity: 0.5;
    cursor: pointer;
    position: relative;
    bottom: 200px;
    



}
.image-button:hover{
    opacity: 1;
}
.image{
    display: block;
    max-width: 100%;
    margin: auto;
    position: relative;
}
