*{
    box-sizing: border-box;
}
.container{
    margin: 32px;
}
.rect{
    margin-bottom: 16px;
    background-color: coral;
    text-align: center;
    opacity: 0.5;
    width: 100px;
    height: 100px;
    line-height: 100px;
}
.linear{
    timing-function: linear;
}
.ease{
    timing-function: ease;
}
.ease-in{
    timing-function: ease-in;
}
.ease-out{
    timing-function: ease-out;
}
.ease-in-out{
    timing-function: ease-in-out;
}
.rect:hover{
    transition: width 2s, opacity 0.5s;
    width: 100%;
    opacity: 1;
}